.questionLabels {
	font-size: 22px;
	color: white;
}
.question {
	font-size: 18px;
}
.textlabel {
	font-size: 22px;
}
input {
	height: 30px;
	width: 100%;
}
select {
	height: 30px;
	width: 25%;
	font-size: 18px;
}
h3 {
	background-color: #529da6;
	padding: 3px;
}
.btn-primary {
	background-color: #529da6;
	border-color: #418c95;
	color: #ffffff;
	font-size: 18px;
}
.btn-group {
	width: 75%;
	margin: 20px auto;
	display: block;
}
.btn-block {
	width: 100%;
	margin-bottom: 50px;
}
